db/*
simulation/*
output_files/*
incremental_db/*
db/.cmp.kpt
db/abs_divider_jbg.tdf
db/abs_divider_kbg.tdf
*.tdf
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.bpm
*.idb
*.logdb
*.kpt
*.db_info
*.hier_info
*.hif
*.html
*.txt
*.ammdb
*.sci
*.tdb
*.hsd
*.json
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
incremental_db/README
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.pof
*.sld
*.sof
db/DSDProject.quiproj.17492.rdr.flock
*.tmp
*.tmw_info
